@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;

}
body {
  background-image: url('./images/background2.jpg');
  background-size: cover;
}

.topNav {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 5px 100px;
}

.topNav__link {
  display: block;
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 17px;
  transition: all 0.5s;
}

.topNav__link:hover {
  transform: scale(1.2);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.title:hover {
  cursor:default;
}
.title__heading  {
  font-size: 70px;
  letter-spacing: 20px;
  text-shadow: 8px 8px 3px #252323;
}


.title__backwardsE {
  display: inline-block;
  transform: rotateZ(180deg);
  padding: 0 0 5px 20px;
  letter-spacing: 0;
}

.title__subTitle {
  font-weight: 600;
  letter-spacing: 2px;
}

.biography {
  display: flex;
  max-width: 100%;
  color:#d1d1d1;
  justify-content: space-between;
}

.biography__paragraphs {
  display: block;
  width: 500px;
  height: fit-content;
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.377);
  line-height: 25px;
}



.biography__paragraphs p::first-letter {
  font-size: 40px;
}

.albums__heading, .favorites__heading {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 5px;
}

.albums__list {
  list-style-type: none;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 150px 150px;
  gap: 0  100px ;
}

.albums__list figcaption {
  font-family: 'Alkatra', cursive;
}

.albums__art {
  width: 125px;
  height: 125px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #252323;
  transition: all 0.3s;
}

.albums__art:hover {
  transform: rotate(25deg);
}

.favorites__list {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.favorites__item a {
  text-decoration: none;
  letter-spacing: 5px;
  color:#d1d1d1;
  transition: color 0.5s;
}

.favorites__item a:hover {
  color: #999999;
}